<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/headfile.html :: head">
    <title>FoobarSpring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Welcome to the FooBar Spring project!!</p>

<div th:replace="fragments/header :: header"></div>

<p><a href="https://docs.google.com/document/d/1ZEMbY_SJAptVBFEJHVeJKblV_N-WxgPG38xeOHocP9Q/edit">Our Journal!</a></p>


</form>
</body>
</html>