<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/headfile.html :: head">
    <title>FoobarSpring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<h1>
   <strong> Welcome to the FooBar Spring project!</strong>
</h1>

<p> This project was made by Andrew, Brendan, and David and features old content, games, and a login page</p>

<p><a href="https://docs.google.com/document/d/1ZEMbY_SJAptVBFEJHVeJKblV_N-WxgPG38xeOHocP9Q/edit">Our Journal!</a></p>


</form>
</body>
</html>